<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title"><img src="{{ "/assets/img/azureish_logo.png" | prepend: site.baseurl }}" alt="Azureish Live!" class="responsive-logo" /></span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">        
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fab fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fab fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Twitch" target="_blank" href="https://twitch.tv/{{site.twitch_username}}"><i class="icon fab fa-twitch" aria-hidden="true"></i></a>
        <a aria-label="Tip us on Streamlabs!" target="_blank" href="https://streamlabs.com/azureishlive/tip"><i class="icon fas fa-donate" aria-hidden="true"></i></a>
      </div>
      <p>&nbsp;</p>      
  </div>  
  <div class="twitch">
    <div class="twitch-video">
      <iframe
        src="https://player.twitch.tv/?channel=azureishlive&parent=azureishlive.com&autoplay=true"
        frameborder="0"
        scrolling="no"
        allowfullscreen="true"
        height="100%"
        width="100%">
      </iframe>
    </div>
    <div class="twitch-chat">
      <iframe
        frameborder="0"
        scrolling="no"
        src="https://www.twitch.tv/embed/azureishlive/chat?parent=azureishlive.com"
        height="100%"
        width="100%">
      </iframe>
    </div>
  </div>
</div>
